<section class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div class="navbar-header">
				<h2 class="menu-title">Main Menu</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">

					<!-- Home -->
					<li class="dropdown ">
						<a routerLink="/user/home">Home</a>
					</li><!-- / Home -->


					<!-- Pages -->
					<li class="dropdown full-width dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350"
							role="button" aria-haspopup="true" aria-expanded="false">Categories <span
								class="tf-ion-ios-arrow-down"></span></a>
						<div class="dropdown-menu">
							<div class="row">

								<!-- Introduction -->
								<div class="col-sm-3 col-xs-12"  *ngFor="let category of categoriesList">
									<ul>
										<li class="dropdown-header">{{category.id}}</li>
										<li role="separator" class="divider" ></li>
										<li *ngFor="let subcategory of subcategoriesList">
											<a *ngIf="subcategory.id==category.id" [routerLink]="['/user/products',subcategory.id,subcategory.name]">{{subcategory.name}}</a>
										</li>
									</ul>
								</div>

					
								

								<!-- Mega Menu -->
								<div class="col-sm-3 col-xs-12">
									<a href="/user/home">
										<img class="img-responsive" src="./assets/images/shop/header-img.jpg" alt="menu image" />
									</a>
								</div>
							</div><!-- / .row -->
						</div><!-- / .dropdown-menu -->
					</li><!-- / Pages -->



					<li class="dropdown ">
						<a routerLink="/user/wishlist">Wishlist</a>
					</li>

					<li class="dropdown ">
						<a routerLink="/user/cart">Cart</a>
					</li>
					<li class="dropdown ">
						<a routerLink="/user/myaccount">My Account</a>
					</li>

					<!-- Shop -->
					
				</ul><!-- / .nav .navbar-nav -->

			</div>
			<!--/.navbar-collapse -->
		</div><!-- / .container -->
	</nav>
</section>