<!-- <app-navbar-user></app-navbar-user> -->
<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Dashboard</h1>
					<ol class="breadcrumb">
						<li><a [routerLink]="['/user/home']">Home</a></li>
						<li class="active">my account</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			
				<div class="dashboard-wrapper user-dashboard">
					<div class="media">
						<div class="pull-left">
							<img class="media-object user-img" src="/assets/images/shop/category/category-7.jpg" alt="Image">
						</div>
						<div class="media-body">
							<h2 class="media-heading">Welcome {{currentUser}}</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, iure, est. Sit mollitia est maxime! Eos
								cupiditate tempore, tempora omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, nihil. </p>
						</div>
					</div>
					<div class="total-order mt-20">
						<h4>Total Orders</h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Order ID</th>
										<th>Address</th>
										<th>Items</th>
										<th>Total Price</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let order of orderList">
										<td><a>{{order.id}}</a></td>

										<td>
											<tr *ngFor="let a of order.address">
												<table>
													<tr>{{a.firstname}}</tr>
													<tr>{{a.address}}</tr>
													<tr>{{a.city}}</tr>
													<tr>{{a.country}}</tr>
													<tr>{{a.zipcode}}</tr>
												</table>
											</tr>
											
										</td>
										<td> 
											<div class="col-md-4">
											<div class="product-checkout-details">
											   <div class="block"  *ngFor="let productdetails of order.products">
												  <h4 class="widget-title">Order Summary</h4>
												  <div class="media product-card" *ngFor="let product of productdetails">
													  
													 <a class="pull-left">
														<img class="media-object" src="{{product.img}}" alt="Image" />
													 </a>
													 <div class="media-body">
														<!-- <h4 class="media-heading"><a [routerLink]="['/user/products',product.id]">{{product.name}}</a></h4> -->
														<h4 class="media-heading">{{product.name}}</h4>
														<p class="price">{{product.qty}}x ${{product.price}}</p>
													 </div>
												  </div>
											   </div>
											</div>
										 </div>
										</td>
										<td>
											${{order.total}}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>